flows.json
[
    {
        "id": "212d0a894faa1309",
        "type": "tab",
        "label": "ESP32 MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3dc1d4346d3ebc2",
        "type": "mqtt in",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2f1696e829fcd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "494d7033fe748a57",
                "76227b04812c815a",
                "2b67225ab24337a9",
                "aaa3226d3a2bed92"
            ]
        ]
    },
    {
        "id": "494d7033fe748a57",
        "type": "debug",
        "z": "212d0a894faa1309",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "de3ebc917f133891",
        "type": "mqtt in",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2f1696e829fcd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "494d7033fe748a57",
                "c4d4426fb9dd8c41",
                "87e173d444574528",
                "dc884d361bb24e77"
            ]
        ]
    },
    {
        "id": "f47255e74b6dacb6",
        "type": "mqtt in",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2f1696e829fcd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "494d7033fe748a57",
                "4605b9bc2e542668",
                "3a16e18528f5c6a9",
                "9c9509573cbf3161"
            ]
        ]
    },
    {
        "id": "76227b04812c815a",
        "type": "ui_gauge",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "5b10af930f1a82ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "gauge",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "c4d4426fb9dd8c41",
        "type": "ui_gauge",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "2a5e868c2ec31bc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b67225ab24337a9",
        "type": "ui_chart",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "5b10af930f1a82ef",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "87e173d444574528",
        "type": "ui_chart",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "2a5e868c2ec31bc9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4605b9bc2e542668",
        "type": "ui_gauge",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "890e80c97c68c857",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "3a16e18528f5c6a9",
        "type": "ui_chart",
        "z": "212d0a894faa1309",
        "name": "",
        "group": "890e80c97c68c857",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a9eba156b8664d92",
        "type": "ui_switch",
        "z": "212d0a894faa1309",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "6adc18333749a079",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "195f58ceb1de6bf0"
            ]
        ]
    },
    {
        "id": "195f58ceb1de6bf0",
        "type": "mqtt out",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/GLED",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f2f1696e829fcd7",
        "x": 450,
        "y": 560,
        "wires": []
    },
    {
        "id": "fbfa510bfb5a689b",
        "type": "mqtt out",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/YLED",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f2f1696e829fcd7",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "1ff2511cf63d4273",
        "type": "ui_switch",
        "z": "212d0a894faa1309",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "010819cd72cb34d0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "fbfa510bfb5a689b"
            ]
        ]
    },
    {
        "id": "d17f6a6f81214bcc",
        "type": "mqtt out",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/RLED",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f2f1696e829fcd7",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "3c4090c393702a75",
        "type": "ui_switch",
        "z": "212d0a894faa1309",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "0b70273bb59484bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "d17f6a6f81214bcc"
            ]
        ]
    },
    {
        "id": "aa4d271e804d5705",
        "type": "mqtt out",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/FAN",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f2f1696e829fcd7",
        "x": 440,
        "y": 740,
        "wires": []
    },
    {
        "id": "1419f8e239656536",
        "type": "ui_switch",
        "z": "212d0a894faa1309",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f8baf5e45097a4ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "aa4d271e804d5705"
            ]
        ]
    },
    {
        "id": "4486818dbefc3c60",
        "type": "image",
        "z": "212d0a894faa1309",
        "name": "",
        "width": "120",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": true,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 520,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "276627b2a19fe79b",
        "type": "mqtt in",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "Godzilla/class205/image",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2f1696e829fcd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 840,
        "wires": [
            [
                "4486818dbefc3c60",
                "7649e14daece3e6b"
            ]
        ]
    },
    {
        "id": "7649e14daece3e6b",
        "type": "ui_template",
        "z": "212d0a894faa1309",
        "group": "64a30efe515f57eb",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<img src=\"{{msg.payload}}\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3a46e011717993c7",
        "type": "ui_template",
        "z": "212d0a894faa1309",
        "group": "c961fc650c9e135c",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "5",
        "format": "<img src=\"{{msg.payload}}\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "85a94f91094c858b",
        "type": "mqtt in",
        "z": "212d0a894faa1309",
        "name": "",
        "topic": "蓁累/倉庫205/即時影像",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f2f1696e829fcd7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "a0204c4508df9ba7",
                "3a46e011717993c7"
            ]
        ]
    },
    {
        "id": "a0204c4508df9ba7",
        "type": "image",
        "z": "212d0a894faa1309",
        "name": "",
        "width": "120",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": true,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 520,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa3226d3a2bed92",
        "type": "function",
        "z": "212d0a894faa1309",
        "name": "function 1",
        "func": "var date = new Date();\nmsg.payload = date + \",溫度,\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "b4b7ef2cf76ff2ce"
            ]
        ]
    },
    {
        "id": "b4b7ef2cf76ff2ce",
        "type": "file",
        "z": "212d0a894faa1309",
        "name": "",
        "filename": "C:\\Users\\user\\Desktop\\ESP32實習\\class220.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "Big5",
        "x": 980,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dc884d361bb24e77",
        "type": "function",
        "z": "212d0a894faa1309",
        "name": "function 2",
        "func": "var date = new Date();\nmsg.payload = date + \",濕度,\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "e6f164e10a15048c"
            ]
        ]
    },
    {
        "id": "e6f164e10a15048c",
        "type": "file",
        "z": "212d0a894faa1309",
        "name": "",
        "filename": "C:\\Users\\user\\Desktop\\ESP32實習\\class220.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "Big5",
        "x": 980,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9c9509573cbf3161",
        "type": "function",
        "z": "212d0a894faa1309",
        "name": "function 3",
        "func": "var date = new Date();\nmsg.payload = date + \",亮度,\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "d3ae87a82c2600d9"
            ]
        ]
    },
    {
        "id": "d3ae87a82c2600d9",
        "type": "file",
        "z": "212d0a894faa1309",
        "name": "",
        "filename": "C:\\Users\\user\\Desktop\\ESP32實習\\class220.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "Big5",
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2f1696e829fcd7",
        "type": "mqtt-broker",
        "name": "mqttgo.io",
        "broker": "mqttgo.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b10af930f1a82ef",
        "type": "ui_group",
        "name": "temp",
        "tab": "0c45fa612041e034",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a5e868c2ec31bc9",
        "type": "ui_group",
        "name": "humi",
        "tab": "0c45fa612041e034",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "890e80c97c68c857",
        "type": "ui_group",
        "name": "light",
        "tab": "0c45fa612041e034",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6adc18333749a079",
        "type": "ui_group",
        "name": "GLED",
        "tab": "0c45fa612041e034",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "010819cd72cb34d0",
        "type": "ui_group",
        "name": "YLED",
        "tab": "0c45fa612041e034",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b70273bb59484bb",
        "type": "ui_group",
        "name": "RLED",
        "tab": "0c45fa612041e034",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8baf5e45097a4ad",
        "type": "ui_group",
        "name": "FAN",
        "tab": "0c45fa612041e034",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64a30efe515f57eb",
        "type": "ui_group",
        "name": "image",
        "tab": "0c45fa612041e034",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c961fc650c9e135c",
        "type": "ui_group",
        "name": "假的影像",
        "tab": "0c45fa612041e034",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c45fa612041e034",
        "type": "ui_tab",
        "name": "我不是哥吉拉",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]